<p style="color: green"><%= notice %></p>
<% if @recipe.image? %>
  <div class="show-hero">
    <%= image_tag @recipe.image.url, class: "recipe-show" %>
    <div class="show-hero-overlay">
        <%= render @recipe %>
    </div><!-- show-hero-overlay-->
  </div><!-- show--hero-->
  <% else %>
     This is where the image would go if it were uploaded to the recipe.
<% end %>
<div class="container pt-5">
  <h3>Ingredients</h3>
  <ul>
      <% for @ingredient in @recipe.ingredients %>
            <li><%= @ingredient.content %></li>

      <% end %>
  </ul>

  <h3>Steps</h3>
  <ol>
    <% for @step in @recipe.steps %>
        <li><%= @step.direction %></li>
    <% end %>
  </ol>

  <div>
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
    <%= link_to "Back to recipes", recipes_path %>

    <%= button_to "Destroy this recipe", @recipe, method: :delete %>
  </div>
</div><!-- container-->
